
#content {
  position: relative;
  margin-left: 220px;
  height: 100%;
  padding-bottom: 25px;
  min-height: 1000px;


}




div.content_wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 50px);
  margin: auto;


}



div.content_wrapper h2.heading {
  font-weight: bold;

}

div.content_wrapper ul {
  text-align: left;

}



@media screen and (max-width : 1000px){

#content {
  width: 100%;
  height: auto;
  left: 0px;
  margin-left: 0px;
  z-index: 0;

}




}
