#footer {

	position: relative;
	float: left;
	width: 100%;
	height: auto;
	padding-bottom: 25px;
  padding-top: 25px;
	background-color: #808080;
	color: whitesmoke;
  font-size: 15px;

}

#footer p {
  line-height: 17px;


}


#footer a {
	color: skyblue;



	}


#footer a:hover {
	color: white;



	}


@media screen and (max-width : 1000px){
	#footer p {
		padding-left: 10px;
		padding-right: 10px;

	}






}
