
@import url('https://fonts.googleapis.com/css?family=Catamaran');


body {
	background-color: white;
	font-family: 'Catamaran', sans-serif;
	font-weight: 100;
  font-size: 18px;
	text-align: center;
	margin: 0;
	padding: 0;

}


a, img {
    border:none;
    outline:none;
    text-decoration: none;
}


#main {
	border: 1px solid white;
	position: relative;
	width: 998px;
	min-height: calc(100vh - 80px);
	margin: auto;




}

#load_more {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 150px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;



}

#load_more:hover {
	border-color: skyblue;
	color: gray;

}




@media screen and (max-width : 1000px){

#main {
  width: calc(100% - 2px);
	min-height: calc(100vh - 80px);


}



@media screen and (max-width : 500px){

	#main {
		min-height: calc(100vh - 60px);


	}


}
