

div.returned_cats {
  height: auto;
  padding-bottom: 25px;
  position: relative;



}

div.add_cats {
  position: relative;
  height: auto;
  padding-bottom: 25px;


}

h3 {
  margin: 0px;

}

div.add_cats form {
  width: 300px;
  margin: auto;


}

div.add_cats form input {

  height: 45px;
  border: 2px solid gray;
  background: transparent;
  font-weight: 200;
  width: 250px;
  margin-top: 15px;
  font-size: 15px;
  border-radius: 5px;
  text-indent: 5px;
  color: gray;

}

div.add_cats form button {
  margin-top: 15px;
  vertical-align: middle;
  padding: 10px; 16px;
  font-size: 18px;
  line-height: 1.3333;
  border-radius: 6px;
  border: 2px solid skyblue;
  background-color: skyblue;
  color: whitesmoke;
  width: 256px;

}


div.add_cats form button:hover {
  background-color: white;
  color: skyblue;


}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;

}

table {
  width: 100%;

}
