

div.profile_header {
  text-align: left;
  overflow: auto;
  border-bottom: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

div.profile_header h2 {
  margin-bottom: 0px;
  line-height: 50px;

}

div.profile_header p {
  margin: 0px;
  font-size: 15px;

}

div.profile_posts {
  border: none;
  padding-top: 0px;

}

div.thread {
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;
}

div.thread h3 {
  padding: 0px;
  margin: 0px;

}

div.thread p {

  font-size: 13px;
  margin: 0px;

}

div.dashboard {
  padding: 25px;
  display: none;


}

div.admin {
  display: none;
}

div.dashboard h3 {
  padding: 0px;
  margin: 0px;

}

div.dashboard p {
  margin: 0px;

}

div.records {
  display: none;
  padding: 20px;
  font-size: 13px;

}

div.records a {
  width: 100%;
  display: block;

}

p.menu {
  width: calc(100% - 20px);
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid black;
}

p.menu:hover {
  border-color: skyblue;

}


@media screen and (max-width : 650px){


div.content_wrapper {
  width: 100%;

}



}
